* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {

    border-bottom: 2px solid lightgrey;
}

.navbar .container{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navbar ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.logo {
    font-weight: bold;
    color: rgb(20, 39, 76);
}
.navbar ul a{
    text-decoration: none;
    color: black;
}
.navbar ul a:hover{
    color: #D68A3D;
}
.navbar button{
    border: 2px solid #D68A3D;
    background-color: transparent;
    padding: 4px 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
}
.navbar button:hover{
    border: none;
    background-color: #D68A3D;
    color: white;
}
.hero .container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero h1{
    font-weight: bold;
    font-size: 2.5rem;
}
.hero p{
    margin: 15px 0px;
    color: rgb(86, 82, 82);
}
.hero button{
    margin-top: 10px;
     background-color: #D68A3D;
    color: black;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}
.hero button:hover{
     background-color: #b16c27;
     color: white;
    
}
.about{
    margin-top: 50px;
}
.about p{
    margin-top: 10px;
    color: rgb(86, 82, 82);
}
.skills .container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.skills ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
    gap: 15px;
}
.skills ul li{
    background-color: #F2EDE8;
    border-radius: 8px;
    padding: 10px 16px;
}

.projects {
    margin-top: 50px;
}

.projects h3 {
    margin-bottom: 10px;
}

.projects p {
    color: #917354;
    font-size: 0.9rem;
    margin: 10px 0;
}
.flex-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.projects button {
    color:  black;
    background-color:  #F2EDE8;
    font-size: 0.9rem;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.contact{
    margin-top: 50px;
    margin-bottom: 70px;
    
}

.contact form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact form label{
    display: block;
    margin-top: 20px;
}

.contact form input{
    margin-top: 5px;
    display: block;
    padding: 10px;
    width: 50%;
    background-color: #F2EDE8;
    border: none;
    border-radius: 10px;
}

.contact form input::placeholder, textarea::placeholder{
    color: #917354;
}

.contact form textarea{
    display: block;
    padding: 20px 20px 50px 20px;
    width: 50%;
    background-color: #F2EDE8;
    border: none;
    border-radius: 10px;
}

.contact .submit-btn {
    width: fit-content;
    margin-top: 30px;
}
.contact input.submit {
    margin-top: 30px;
    color: white;
    background-color: #D68A3D;
}

.footer {
    padding: 30px;
    background-color: #b8a592;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* tablet */
@media screen and (max-width: 1000px) {

}
/* mobile */
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    }
 .navbar .container{
    height: 120px;
    flex-direction: column;
    padding: 15px 40px;
}

.navbar ul {
    margin: 10px 0;
}

.hero .container{
    grid-template-columns: 1fr;
    justify-items: center;
}
.hero h1{
    margin-top: 20px;
    text-align: center;
    font-size: 1.7rem;
}
.hero p{
    margin-top: 20px;
    text-align: center;
}
.hero img {
    width: 90%;
}
.hero button {
    font-size: 1rem;
}
.about{
    text-align: center;
}
.skills .container {
    align-items: center;
}
.skills ul{
    flex-wrap: wrap;
    justify-content: center;
}

.projects h3 {
    text-align: center;
}

.flex-container{
   flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h4 {
    text-align: center;
}

.projects p {
    text-align: center;
}
.projects button {
    display: flex;
    justify-self: center!important;
    align-self: center;
}
.contact h3 {
    text-align: center;
}
.contact .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.contact form input {
    min-width: 300px;
    width: 100%;
}

.contact form textarea {
    min-width: 300px;
    width: 100%;
}
.footer .container{
    flex-direction: column;
}

.footer ul {
    flex-direction: column;
    margin: 10px 0;
}
}